@use '../util/' as *;
.header{
    @include breakpoint-min(lg)
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(31);
    }
    
    &__toggle{
       display: flex;
       span{
           padding: 0 rem(10);
       }
    }
   
}